body{
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border: 0;
    padding: 0;
}

.myGrid{
    width: 6.25vw;
    height: 6.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: red;
}